*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none; 
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
color: black;
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: .05rem;
} 
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
color:rgb(33, 83, 245) ;
}
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
#header .header {
    min-height: 4vh;
    background-color: rgba( 31 ,30 ,30 , 0.50 );
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#header .nav-list ul li {
    float: left;
    list-style-type: none;
    margin-right: 0px;
}
#header .nav-list ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    font-family: sans-serif;
}
#header .nav-list  ul li a:hover {
 color: rgb(85, 255, 6);
}
#header .nav-list  ul li ul{
    background-color: rgba( 31 ,30 ,30 , 0.50 );
    position: relative;
    bottom: 4px;
    width: 200px;
    height: 200px;
}
#header .nav-list ul li ul li {
    float: none;
}
#header .nav-list ul li ul {
    display: none;
}
#header .nav-list ul li:hover ul {
display: block;
}
.img{
    width: 35px;
    height: 35px; ;
    position:absolute;
    right: 10px;
}
.tr{
    color: rgb(255, 255, 255);
    padding: 4px;
    border: 1px solid rgb(252, 252, 255) ;
    font-size: 11px;
}
.tr:hover{
background-color:  rgb(85, 255, 6);
color: black;
}
#hero{
    background-image: url(../media/ista2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
} 
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px ;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1)
{
    animation-delay: 1.5s;
}

#hero h1:nth-child(2)
{
    animation-delay: 2.5s;
}

#hero h1:nth-child(3)
{
    animation: taxt1 .5s ease forwards;
    animation-delay: 3.5s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color:rgb(16, 231, 52) ;
    animation:textrevea1 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}
#hero h1:nth-child(3) span{
    animation-delay: 3s;
}
.cta{
display: inline-block;
padding: 10px 30px ;
color:rgb(16, 231, 52);
background-color: transparent;
border: 2px solid rgb(16, 231, 52);
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 1rem;
margin-top: 30px;
transition: .3s ease ;
transition-property: background-color,color;
}
 .cta:hover{
    color: whitesmoke;
    background-color:rgb(16, 231, 52);
}
.cta1{
    display: inline-block;
    padding: 10px 30px ;
    color:black;
    background-color: transparent;
    border: 2px solid rgb(33, 83, 245);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color,color;
    }
.cta1:hover{
    color: whitesmoke;
    background-color:rgb(33, 83, 245);
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: rgb(33, 83, 245);
}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
        margin-top: 50px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../media/99.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);
   opacity: .9;
   z-index: -1;
}
#services .service-bottom .icon  {
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}
#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p {
   
   color: white;
   text-align: left;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;    
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info
{
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( 60deg,#29323c ,#485563 100%);
    color: white;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-size: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
} 
#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 60deg,#29323c 0% ,#485563 100%);
   opacity: .7;
}
#projects .project-img img {
    transition: .3s ease transform;
}   
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid rgb(16, 231, 52);
    z-index: -1;
}
#contact .contact{
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item
{  
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin:30px;
    display: flex;
        justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    font-weight: 500;
line-height: 2rem;
    }
    #img .img-eta img {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-right: 30px;
        margin-left: 140px;
        }
   p .fas {
        position:absolute;
        right: 500px;
        flex-direction: column;
        display: inline-block;
        margin-right: 30px;
        margin-left: 140px;
        }
        #grid{
        display: grid;
        grid-template-columns: repeat(5 ,1fr);
        grid-template-rows: 60px 30px 30px 70px;
        }
        #grid {
        text-align: center;
        }
        #grid .grid img {
        width: 50px;
         height: 50px;
        }
        #grid .grid1 {
        font-size: 30px;
        text-align: center;
        line-height: 26px;
        color: rgb(117, 116, 116);
        font-weight: 700;
        }
        #grid .grid2 {
        font-size: 19px;
        font-weight: 600;
        color: rgb(11, 85, 245);
        }
        #grid .grid3 {
         font-size: 17px;
        font-weight: 600;
        color: rgb(117, 116, 116);
        }
    /* footer */
    #footer{
        background-image: linear-gradient(60deg, #29323c 0% ,#485563 100%);
    }
    #footer .footer{
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    #footer h2 {
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #footer .social-icon{
        display: flex;
        margin-bottom: 30px;
    }
    #footer .social-item {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    }
    #footer .social-item img {
    filter: grayscale(1);
    } 

    #footer .social-item:hover img {
    filter: grayscale(0);
    } 
    #footer p{
    color: white;
    font-size: 1.3rem;
    }

@keyframes textrevea1 {
50%{
    width: 100%;
    left: 0;
}
100%{
    width: 0;
    left: 100%;
}}

@keyframes text{
    100%{
color: white;
    }}

@keyframes  taxt1 {
    100%{
        color: rgb(16, 231, 52);
        font-weight: 600;
    }} 
    
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1 .section-title{
        font-size: 6rem;
    }
    #hero h1{
        font-size: 7rem;
    }
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
}
#projects .project-item{
flex-direction: row;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;   
    }   
#projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#projects .all-projects .project-info{
    height: 100%;
    }
    #projects .all-projects .project-img{
    height: 100%;
    }
    #about .about {
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid rgb(33, 83, 245);
    }
    #about .col-right{
        text-align: left;       
        padding: 30px;
    }
    
    #about .col-right h1{
        text-align: left;
    }
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 10vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px ;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
 #contact .contact-item .icon{
    height: 85px;
     width: 85px;
            }
#contact .contact-item .img{
     object-fit: contain;
            }   
#contact .contact-item .contact-info{
     width: 100%;
     text-align: left;
     padding-left: 20px;
            }
#grid{
     display: grid;
     grid-template-columns: repeat(5 ,1fr);
     grid-template-rows: 110px 40px 50px 70px;
           
}
#grid {
    text-align: center;
}
 #grid .grid img {
     width: 100px;
     height: 100px;
}
#grid .grid1 {
    font-size: 50px;
     text-align: center;
     line-height: 26px;
     color: rgb(117, 116, 116);
     font-weight: 700;
            }
 #grid .grid2 {
     font-size: 30px;
     font-weight: 700;
     color: rgb(11, 85, 245);
            }
#grid .grid3 {
     font-size: 25px;
     font-weight: 600;
     color: rgb(117, 116, 116);
            }
 #header .nav-list ul li {
     float: left;
     list-style-type: none;
     margin-left: 5px;
     margin-right: 0px;
            }
#header .nav-list ul li a{
     color: rgb(255, 255, 255);
     text-decoration: none;
     display: block;
     width: 200px;
     padding: 15px;
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
    }
#header .nav-list  ul li a:hover {
     color: rgb(85, 255, 6);
}
#header .nav-list  ul li ul{
        background-color: rgba( 31 ,30 ,30 , 0.50 );
        position: relative;
        bottom: 4px;
        width: 300px;
        height: 260px;
    }
 #header .nav-list ul li ul li {
        float: none;
}
#header .nav-list ul li ul {
        display: none;
}
#header .nav-list ul li:hover ul {
    display: block;
}
.img{
        width:50px ;
        height:50px ;
        position:absolute;
        right: 10px;
}
.tr{
        border: 2px solid beige;
        width: 70px;
        padding: 5px;
        text-align: center;
            }

            }
            












































